Diagnostics:
  ClangTidy:
    Add:
      [
        performance-*,
        bugprone-*,
        portability-*,
        modernize-*,
      ]
    Remove: 
      [
        modernize-use-trailing-return-type,
        bugprone-easily-swappable-parameters,
        modernize-avoid-c-arrays
      ]
    CheckOptions:
      WarnOnFloatingPointNarrowingConversion: false